header{
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.game-area{
  width: 500px;
  height: 500px;
  border: 2px solid gray;
  position: relative;
  margin: 40px auto;
}

.buttons{
  border: 2px solid black;
  position: relative;
  height: 180px;
  width: 180px;
  margin: 15px auto;
  background-color: #1abc9c;
  
  
}

 .up{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
 }

 .down{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
 }

 .right{
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
 }

 .left{
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
 }

 button{
   padding:3px 5px;
   outline: none;
   cursor: pointer;
   width: 60px;
   background-color: white;
   border: 1px solid blue;
 }